/*#pink         #d03161*/
/*#light-pink   #ee8080*/
/*#light-blue   #bfd8d1*/
/*#sky-blue     #178a94*/
/*#blue         #2b374b*/

html, body {
    height: 100%;
}

body {
    /*background-color: #bfd8d1;*/
    font-weight: 300;
    background-image: linear-gradient(#355C7D, #95829d);
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-family: 'Chivo', sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'Dancing Script', Georgia, Times, serif;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.board {
    background-color: #6C5B7B;
    height: 100%;
    padding-top: 20px;
}

.card {
    background-color: #625071;
    color: #ffffff;
    margin-bottom: 15px !important;
    border-style: solid;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
}

.task-title {
    font-weight: 500 !important;
}

.completed {
    text-decoration: line-through;
}

.hold {
    border: solid 5px #ffffff;
}

.category {
    border: 2px solid #625071;
    height: 100%;
}

.hovered {
    background: #9180a0;
    border-style: dashed;
}